absl-py==1.0.0
adjustText==0.7.3
aiohttp==3.8.1
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.7.5
alignment==1.0.10
altgraph==0.17.4
amply==0.1.4
amqp==2.6.1
angel-cd==1.0.3
anndata==0.7.8
annoy==1.17.0
ansiwrap==0.8.4
antlr4-python3-runtime==4.9.3
anyio==3.3.4
apipkg==2.1.0
appdirs==1.4.4
arff==0.9
argcomplete==2.0.0
argon2-cffi==21.1.0
arrow==1.2.1
arviz==0.11.4
asciitree==0.3.3
asgiref==3.4.1
ASLPAw==2.2.0
astroid==2.6.6
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.1
asyncpg==0.24.0
atomicwrites==1.4.0
attrs==21.2.0
augment-nd==0.1.2
autocommand==2.2.2
autograd==1.3
Automat==20.2.0
autopep8==1.5.7
awscli==1.27.133
awsimple==0.20.3
Babel==2.9.1
backcall==0.2.0
backports-abc==0.5
backports.entry-points-selectable==1.1.1
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.7.0.1
backports.tarfile==1.2.0
backports.weakref==1.0.post1
balsa==0.9.3
bcrypt==3.2.0
beautifulsoup4==4.10.0
betterast==0.4
bigfloat==0.4.0
billiard==3.6.4.0
bimlpa==0.1.2
binaryornot==0.4.4
biomart==0.9.2
biopython==1.79
bitarray==2.3.4
bitstring==3.1.9
black==21.10b0
bleach==1.5.0
blinker==1.4
BloomFilter==0.1.0
bluepy==1.3.0
bokeh==2.4.1
borgbackup==1.2.4
boto==2.49.0
boto3==1.20.6
botocore==1.29.133
box2d-py==2.3.8
brax==0.0.10
brewer2mpl==1.4.1
bup==0.0.1
bz2file==0.98
cachetools==4.2.4
Cartopy==0.19.0.post1
catkin-pkg==0.5.2
cdlib==0.2.5
celery==4.4.7
certifi==2021.10.8
certipy==0.1.3
cffi==1.15.0
cftime==1.5.1.1
chainer==7.8.0
chardet==4.0.0
charset-normalizer==2.0.7
Cheetah3==3.2.6.post1
cheroot==8.5.2
CherryPy==18.6.1
chex==0.1.0
chinese-whispers==0.7.5
clang==11.0
click==8.0.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
clikit==0.6.2
cloudpickle==2.0.0
cmake==3.21.4
cobra==0.22.1
codegen==1.0
colorama==0.4.3
colorcet==2.0.6
coloredlogs==15.0.1
colormath==3.0.0
columnize==0.3.10
commonmark==0.9.1
complete-shuffle==1.1.2
conda==4.3.16
configparser==5.1.0
constantly==15.1.0
contextlib2==21.6.0
contourpy==1.2.0
cookiecutter==1.7.3
count-dict==1.1.1
coverage==6.1.2
crashtest==0.3.1
crcmod==1.7
cryptography==35.0.0
cups-of-caffeine==2.9.12
cvxopt==1.2.7
cvxpy==1.1.17
cycler==0.11.0
cypari==2.4.1
Cython==0.29.24
dask==2021.11.1
dataclasses==0.6
debugpy==1.5.1
decorator==4.4.2
deepbgc==0.1.12
defusedxml==0.7.1
demon==2.0.6
demuxEM==0.1.7
depinfo==1.7.0
Deprecated==1.2.13
dgl==1.1.3
dgllife==0.3.2
dictim==0.0.2
diff-match-patch==20200713
dill==0.3.4
diskcache==5.2.1
distlib==0.3.3
distro==1.8.0
Django==3.2.9
django-auth-ldap==3.0.0
django-cors-headers==3.11.0
django-environ==0.8.1
django-haystack==3.1.1
django-mysql==4.2.0
djangorestframework==3.13.1
dm-tree==0.1.6
dnspython==2.2.0
docker==5.0.3
docopt==0.6.2
docutils==0.15.2
docx2txt==0.8
dogpile.cache==1.1.4
dot2tex==2.11.3
droneapi==1.5.0
dscript==0.2.6
dunamai==1.8.0
dynetx==0.3.1
ecos==2.0.7.post1
elementpath==2.4.0
entrypoints==0.3
enum34==1.1.10
et-xmlfile==1.1.0
etils==1.5.2
eva-lcd==0.1.1
evdev==1.9.1
execnet==1.9.0
fabric==3.0.1
fasteners==0.16.3
fastobo==0.12.3
fastprogress==1.0.0
fastsemsim==1.0.0
fbpca==1.0
filelock==3.3.2
fisher==0.1.9
flake8==3.9.2
Flask==2.0.2
Flask-Cors==3.0.10
Flask-Excel==0.0.7
Flask-WTF==1.0.0
flatbuffers==2.0
flax==0.4.0
fonttools==4.50.0
forceatlas2-python==1.1
frozenlist==1.2.0
fsspec==2021.11.0
fuse-python==1.0.4
future==0.18.2
futures==3.0.5
FXrays==1.3.5
gast==0.4.0
gcs-oauth2-boto-plugin==3.0
GDAL==3.2.1
gensim==4.1.2
geosketch==1.2
get_version==3.5.3
ggplot==0.11.5
girder==3.1.6
girder-client==3.1.6
girder-jobs==3.1.6
girder-worker==0.8.1
girder-worker-utils==0.8.6
gitdb==4.0.9
github3.py==3.0.0
GitPython==3.1.44
glfw==2.9.0
gmpy2==2.0.8
gnureadline==8.0.0
google-apitools==0.5.32
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
google-reauth==0.1.1
gprof2dot==2021.2.21
gprofiler-official==1.0.0
gradescope-utils==0.4.0
graphtools==1.5.2
graphviz==0.8.4
greenlet==1.1.2
grpcio==1.41.1
gsutil==5.6
gunicorn==20.1.0
gunpowder==1.2.2
gym==0.21.0
h11==0.12.0
h5py==3.5.0
harmony-pytorch==0.1.7
hashy==0.1.1
helpdev==0.7.1
hnswlib==0.5.2
holoviews==1.14.6
html2text==2020.1.16
html5lib==0.9999999
httpcore==0.14.1
httplib2==0.20.2
httpstan==4.6.1
httpx==0.21.0
humanfriendly==10.0
hvplot==0.7.3
hyperlink==21.0.0
hyperopt==0.2.7
idna==3.3
igraph==0.9.8
imageio==2.10.4
imagesize==1.3.0
import-relative==0.2.3
importlib-metadata==4.8.2
importlib-resources==5.4.0
incremental==21.3.0
inflection==0.5.1
infomap==1.8.0
iniconfig==1.1.1
intervaltree==3.1.0
invoke==2.1.1
ipykernel==6.5.0
ipython==7.29.0
ipython-genutils==0.2.0
ipywidgets==7.6.5
ismain==0.0.4
isort==5.10.1
itsdangerous==2.0.1
jaraco.classes==3.2.1
jaraco.collections==3.4.0
jaraco.context==6.0.1
jaraco.functools==3.4.0
jaraco.text==4.0.0
jax==0.2.27
jaxlib==0.1.76
jdcal==1.4.1
jedi==0.17.2
jeepney==0.7.1
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.1.0
joypy==0.2.6
jsonpickle==2.0.0
jsonschema==4.2.1
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.9.1
jupyter-telemetry==0.1.0
jupyterhub==1.5.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
jwcrypto==1.0
karateclub==1.2.2
keras==2.7.0
keras-nightly==2.8.0.dev2021111608
Keras-Preprocessing==1.1.2
keyring==23.2.1
kiwisolver==1.3.2
knot-floer-homology==1.1
kombu==4.6.11
lark==1.1.9
lazy-object-proxy==1.6.0
lda==2.0.0
ldap3==2.9.1
legacy-api-wrap==1.2
leidenalg==0.8.8
liac-arff==2.5.0
libclang==12.0.0
lightgbm==3.3.1
lit==14.0.0
llfuse==1.4.4
llvmlite==0.42.0
lml==0.1.0
locket==0.2.1
loompy==3.0.6
louvain==0.7.0
louvain-github==0.6.1.post1
lxml==4.6.4
lzstring==1.0.4
M2Crypto==0.43.0
Mako==1.1.5
Markdown==3.3.4
markov-clustering==0.0.6.dev0
MarkupSafe==2.0.1
marshmallow==3.14.1
matplotlib==3.8.3
matplotlib-inline==0.1.3
matplotlib-venn==0.11.6
maturin==1.4.0
MAVProxy==1.8.45
mccabe==0.6.1
mcculw==1.0.0
meld==1.0.0
meson==1.7.2
mink==0.0.7
mistune==0.8.4
mock==4.0.3
mod-wsgi==4.9.0
mongoaudit==0.1.1
monotonic==1.6
more-itertools==8.11.0
mpmath==1.2.1
msgpack==1.0.3
mttkinter==0.6.1
mujoco==3.3.1
multidict==5.2.0
multiprocess==0.70.12.2
multiqc==1.11
multitasking==0.0.10
multivalued-dict==2.0.1
music21==8.3.0
mxnet==1.8.0.post0
mypy-extensions==0.4.3
mysql-connector==2.2.9
mysqlclient==2.0.3
natsort==8.0.0
nbclient==0.5.8
nbconvert==6.3.0
nbformat==5.1.3
ndg-httpsclient==0.5.1
nest-asyncio==1.5.1
netCDF4==1.5.8
networkx==2.6.3
neurosynth==0.3.8
nf1==0.0.4
nibabel==3.2.1
nltk==3.6.5
nmf-torch==0.1.1
nose==1.3.7
notebook==6.4.5
numba==0.59.1
numcodecs==0.9.1
numexpr==2.7.3
numpy==1.26.4
numpy-groupies==0.9.14
numpydoc==1.1.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauth2client==4.1.3
oauthlib==3.1.1
omega-index-py3==0.3.2
openbabel==3.1.1.1
opencv-python==4.11.0.86
openpyxl==3.0.9
opt-einsum==3.3.0
optax==0.1.0
optlang==1.5.2
osqp==0.6.2.post0
outcome==1.1.0
packaging==23.2
pamela==1.0.0
panda==0.3.1
pandas==1.3.4
pandocfilters==1.5.0
panel==0.12.4
papermill==2.3.3
param==1.12.0
paramiko==3.1.0
paramz==0.9.5
parso==0.7.1
partd==1.2.0
passlib==1.7.4
pastel==0.2.1
path==16.2.0
path.py==12.5.0
pathlib2==2.3.6
pathspec==0.9.0
patsy==0.5.6
pbr==3.1.1
pcapy==0.11.4
pegasus==0.1.3
pegasusio==0.4.1
pegasuspy==1.4.4
pexpect==4.8.0
pickleshare==0.7.5
pilkit==2.0
pillow==11.2.1
Pint==0.18
pkginfo==1.7.1
platformdirs==2.4.0
plink==2.4.1
plotly==5.4.0
pluggy==1.0.0
ply==3.11
pmlb==1.0.1.post3
pooch==1.5.2
portend==3.0.0
POT==0.8.0
poyo==0.5.0
pquality==0.0.9
praw==7.7.0
prawcore==2.3.0
pressenter2exit==0.2.2
prettytable==3.7.0
prometheus-client==0.12.0
prompt-toolkit==3.0.22
protobuf==3.19.1
psutil==5.8.0
psycopg2==2.9.2
ptyprocess==0.7.0
PuLP==2.5.1
pure-nrng==1.1.0
pure-prng==2.9.0
py==1.11.0
py-cpuinfo==9.0.0
py-postgresql==1.2.2
py4j==0.10.9.2
pyamg==4.1.0
pyarrow==6.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pybind11==2.8.1
pyclustering==0.10.1.2
pycodestyle==2.7.0
pycosat==0.6.3
pycparser==2.21
pyct==0.4.8
pydantic==1.8.2
pydocstyle==6.1.1
pydot==1.4.2
pydotplus==2.0.2
pyexcel==0.6.7
pyexcel-io==0.6.5
pyexcel-webio==0.1.4
pyexcel-xlsx==0.6.0
pyficache==2.3.0
pyflakes==2.3.1
pygame==2.1.0
pygeoip==0.3.2
pyglet==1.5.21
Pygments==2.10.0
pygraphviz==1.7
PyGSP==0.5.1
PyHamcrest==2.0.2
pyinstaller-hooks-contrib==2025.3
PyJWT==2.3.0
pyldap==3.0.0.post1
pylev==1.4.0
pylint==2.9.6
pyls-black==0.4.7
pyls-spyder==0.4.0
pylzma==0.5.0
pymavlink==2.4.17
pymc3==3.11.4
pymongo==3.12.1
PyNaCl==1.5.0
pynndescent==0.5.5
pynput==1.8.1
PyOpenGL==3.1.5
pyOpenSSL==21.0.0
pyparsing==2.4.7
pypng==0.0.21
pyprotobuf==0.8
PyQt5==5.12.3
PyQt5-Qt==5.15.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.12.1
PyQtWebEngine-Qt==5.15.2
PyQtWebEngine-Qt5==5.15.2
Pyro4==4.81
pyrsistent==0.18.0
pysaml2==7.1.1
pyserial==3.5
pyshp==2.1.3
pysimdjson==3.2.0
pysingleton==0.2.1
PySocks==1.7.1
pyspark==3.2.0
pysqlite3==0.4.6
pysqlite3-binary==0.4.6.post2
pystan==3.3.0
pyteomics==4.7.1
pytest==6.2.5
pytest-forked==1.3.0
pytest-xdist==2.4.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-editor==1.0.4
python-gflags==3.1.2
python-igraph==0.9.8
python-json-logger==2.0.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-ldap==3.3.1
python-Levenshtein==0.12.2
python-libsbml==5.19.0
python-louvain==0.15
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-slugify==5.0.2
python-xlib==0.33
pythonds==1.2.1
pytinyrenderer==0.0.13
pyTooling==2.4.0
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyu2f==0.1.5
pyVHDLModel==0.15.0
pyviz-comms==2.1.0
PyWavelets==1.2.0
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
QDarkStyle==3.0.2
qdldl==0.1.5.post0
qpsolvers==4.5.1
qstylizer==0.2.1
QtAwesome==1.1.0
qtconsole==5.1.1
QtPy==1.11.2
quadprog==0.1.13
radb==3.0.4
randomgen==1.21.2
rdkit==2023.9.4
redis==4.0.0
regex==2021.11.10
requests==2.32.3
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requirements-parser==0.5.0
retry-decorator==1.1.1
retrying==1.3.3
rfc3986==1.5.0
rich==10.13.0
robosuite==1.5.1
rope==0.21.1
rosdep==0.22.1
rosdistro==0.9.0
rosinstall-generator==0.1.22
rospkg==1.4.0
rpy2==3.4.5
rsa==4.7.2
Rtree==0.9.7
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
s3transfer==0.6.1
scanorama==1.7.4
scanpy==1.8.2
scapy==2.5.0
scikit-image==0.18.3
scikit-learn==1.0.1
scikit-misc==0.1.4
scikit-multilearn==0.2.0
scipy==1.12.0
SCons==4.3.0
scplot==0.0.16
scprep==1.1.0
scs==2.1.4
seaborn==0.11.2
SecretStorage==3.3.1
selenium==4.0.0
semver==2.13.0
Send2Trash==1.8.0
sentry-sdk==1.4.3
serpent==1.40
setuptools-scm==6.3.2
Shapely==1.8.0
shuffle-graph==2.2.0
similarity-index-of-label-graph==2.0.1
simplegeneric==0.8.1
simplejson==3.17.6
sinfo==0.3.4
singledispatch==3.7.0
six==1.16.0
sklearn==0.0
smart-open==5.2.1
smmap==5.0.0
snap==0.5
snappy==3.0.2
snappy-manifolds==1.1.2
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
spectra==0.0.11
spectrum-utils==0.4.2
spherogram==2.1
Sphinx==4.3.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-websupport==1.2.4
spyder==5.1.5
spyder-kernels==2.1.3
SQLAlchemy==1.4.27
sqlparse==0.4.2
statistics==1.0.3.5
statsmodels==0.14.1
stdlib-list==0.8.0
stevedore==3.5.0
stopwatch.py==1.0.1
swampy==3.0.1
swiglpk==5.0.3
sympy==1.9
tables==3.6.1
tabulate==0.8.9
tasklogger==1.1.0
tempora==4.1.2
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.4.1
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
tensorflow-tensorboard==1.5.1
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
textblob==0.17.1
textdistance==4.2.2
texttable==1.6.4
textwrap3==0.9.2
Theano==1.0.5
Theano-PyMC==1.1.2
threadpoolctl==3.0.0
three-merge==0.1.1
thresholdclustering==1.1
tifffile==2021.11.2
tinycss2==1.1.0
tobool==0.0.4
toml==0.10.2
tomli==1.2.2
toolz==0.11.2
torch==2.0.1
torch-geometric==2.6.1
torchvision==0.15.2
torchviz==0.0.3
tornado==6.1
tqdm==4.67.1
tracer==0.3.2
traitlets==5.1.1
trimesh==3.9.43
trio==0.19.0
trio-websocket==0.9.2
triton==2.0.0
twilio==7.3.0
Twisted==21.7.0
typed-ast==1.5.0
typeguard==2.13.0
types-setuptools==57.4.7
typing==3.7.4.3
typing-extensions==3.10.0.2
tzdata==2021.5
tzlocal==4.1
ujson==4.2.0
ultralytics==8.3.109
ultralytics-thop==2.0.14
umap-learn==0.5.5
update-checker==0.18.0
uritemplate==4.1.1
urllib3==1.26.7
urwid==2.1.2
vcstool==0.3.0
vine==1.3.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
watchdog==2.1.6
wcwidth==0.2.5
webargs==8.0.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.2.1
Werkzeug==2.0.2
widgetsnbextension==3.5.2
wkhtmltopdf==0.2
wordcloud==1.8.1
wot==1.0.8.post2
wrapt==1.12.1
wsproto==1.0.0
WTForms==3.0.0
wurlitzer==3.0.2
wxPython==4.1.1
xarray==0.20.1
xdis==6.0.3
xlrd==1.2.0
XlsxWriter==3.0.2
xlwt==1.3.0
xmlschema==1.9.2
xmlsec==1.3.12
XStatic-MathJax==2.0.0
yapf==0.31.0
yarl==1.7.2
yfinance==0.1.66
zarr==2.10.2
zc.lockfile==2.0
zipp==3.6.0
zope.interface==5.4.0
zss==1.2.0
